.v-padded {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.v-large-padded {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.h-padded {
    padding-left: 1rem;
    padding-right: 1rem;    
}