<!doctype html>
<html>

<head>
    <title>Language Learner Annotator - Annotation Pipeline</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <!-- dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- dev -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> --><!-- prod -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='vue-markdown.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-input-autowidth@1.0.10/dist/index.umd.min.js"></script>
    <!-- <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script> -->
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>