{% extends "base.html" %}
{% block body %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Language Learner Annotation - Annotation Pipeline
            </h1>
            <h2 class="subtitle">
                Welcome to the Language Learner Annotation - Annotation Pipeline. 
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="content v-large-padded">
        This is a Language Learner Annotation - Annotation Pipeline. <br />
        Please contact Users &amp; Information Lab. @ KAIST (<a href="mailto:uilabkaist@gmail.com">uilabkaist@gmail.com</a>) for further information.
    </div>
    <div class="content v-padded">
        <div class="buttons">
            <a href="/tasks" class="button is-success">Start</a>
        </div>
    </div>
</div>
{% endblock %}