{% extends "base.html" %}
{% block body %}
<div id="task-view">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                Language Learner Annotation - Annotation Pipeline
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    Page [[ contextIndex + 1 ]] / [[ contexts.length ]]
                </div>
            </div>
        </div>
    </nav>
    <div class="container v-large-padded h-padded">
        <div class="content">
            <template v-for="(context, i) of contexts" v-if="i === contextIndex" >
                <!-- <div class="v-padded validator" v-if="validateIndexes.includes(contextIndex)">
                    <div class="columns">
                        <div class="column is-one-third">
                            <h4>Dialog</h4>
                            <vue-markdown :source="context.dialog"></vue-markdown><br />
                            <h4>Response</h4>
                            <vue-markdown :source="validateTexts[validateIndexes.indexOf(contextIndex)].text"></vue-markdown>
                        </div>
                        <div class="column">
                            <h4>Questions</h4>
                            <div class="v-padded" v-for="question in questions" :key="question.id">
                                <p>
                                    [[ question.text ]] Ignore this question and follow the direction.
                                </p>
                                <div class="buttons has-addons is-left">
                                    <span class="button is-static">
                                        [[ question.mintext ]]
                                    </span>
                                    <button v-for="v in [1, 2, 3, 4, 5]" :key="v" class="button"
                                        :class="{ 'is-black': isValidateValue(contextIndex, question.id, v) }"
                                        @click="selectValidateValue(contextIndex, question.id, v, v === validateTexts[validateIndexes.indexOf(contextIndex)].value)">
                                        [[ v ]]
                                    </button>
                                    <span class="button is-static">
                                        [[ question.maxtext ]]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div> -->
                <!-- <div v-for="candidateId in candidateIds" :key="i + '__' + candidateId" class="v-padded">
                    <div class="columns">
                        <div class="column is-one-third">
                            <h4>Dialog</h4>
                            <vue-markdown :source="context.dialog"></vue-markdown><br />
                            <h4>Response</h4>
                            <vue-markdown :source="context.candidates[candidateId]"></vue-markdown>
                        </div>
                        <div class="column">
                            <h4>Questions</h4>
                            <div class="v-padded" v-for="question in questions" :key="question.id">
                                <p>
                                    [[ question.text ]]
                                </p>
                                <div class="buttons has-addons is-left">
                                    <span class="button is-static">
                                        [[ question.mintext ]]
                                    </span>
                                    <button v-for="v in [1, 2, 3, 4, 5]" :key="v" class="button"
                                        :class="{ 'is-black': isValue(candidateId, question.id, v) }"
                                        @click="selectValue(candidateId, question.id, v)">
                                        [[ v ]]
                                    </button>
                                    <span class="button is-static">
                                        [[ question.maxtext ]]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div> -->
                <!-- <div v-if="contextIndex === validateIndex">
                    <div class="columns">
                        <div class="column is-one-third">
                            <h4>Sentence</h4>
                            <p>
                                <b>Instruction</b>
                                This is a question to validate your answer. Answer as <b>[[ question.option[validateValue+''] ]]</b> for a following question. 
                            </p>
                        </div>
                        <div class="column">
                            <h4>Question</h4>
                            Follow the instruction on the left side
                        </div>
                    </div>
                </div> -->
                <div>
                    <div>
                        <div v-if="context.task === 'machine reading comprehension'" class="columns">
                            <div class="column is-two-thirds">
                                <h4>Sentence</h4>
                                <div>
                                    <p>
                                        <b>context</b>
                                        <div id="mrc" ref="target" @select="selectAnswerspan" disabled style="border:2px solid turquoise;">[[JSON.parse(context.sentence).context]]</div>
                                    </p>
                                    <p>
                                        <b>question</b>
                                        [[JSON.parse(context.sentence).question]]
                                    </p>
                                </div>
                                <hr/>
                                <button v-if="isHiddens[context.id] % 2" @click="updateTranslations(context.id)" class="button">Hide English translations</button>
                                <button v-else @click="updateTranslations(context.id)" class="button">Show English Translations</button>
                                <div v-if="isHiddens[context.id] % 2">
                                    <div v-for="(value, key) of JSON.parse(context.sentence_trans)">
                                        <p>
                                            <b>[[key]]</b>
                                            [[value]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h4>Question</h4>
                                <div v-for="question in questions" v-if="question.task === 'machine reading comprehension'">
                                    [[question.text]]
                                </div>
                                <div>
                                    <!-- [[ response[context.id] ]] -->
                                    <div v-for="(value, key) of response[context.id]">
                                        <b>[[key]]</b> [[value]]
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else class="columns">
                            <div class="column is-two-thirds">
                                <h4>Sentence</h4>
                                <div v-for="(value, key) in JSON.parse(context.sentence)">
                                    <p>
                                        <b>[[key]]</b>
                                        [[value]]
                                    </p>
                                </div>
                                <hr/>
                                <button v-if="isHiddens[context.id] % 2" v-on:click="updateTranslations(context.id)" class="button">Hide English translations</button>
                                <button v-else v-on:click="updateTranslations(context.id)" class="button">Show English Translations</button>
                                <div v-if="isHiddens[context.id] % 2">
                                    <div v-for="(value, key) of JSON.parse(context.sentence_trans)">
                                        <p>
                                            <b>[[key]]</b>
                                            [[value]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h4>Question</h4>
                                <div v-for="question in questions" v-if="question.task === context.task">
                                    [[question.text]]
                                    <div>
                                        <button v-for="v in Object.keys(question.option)" :key="v" class="button"
                                        :class="{ 'is-black': isValue(v) }"
                                        @click="selectValue(v)">
                                        [[ question.option[v+''] ]]
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="v-padded">
                    <div class="field is-grouped">
                        <p v-if="contextIndex > 0" class="control">
                            <button class="button is-warn" @click="contextIndex--">
                                ⇦ Previous
                            </button>
                        </p>
                        <p v-if="contextIndex < contexts.length - 1" class="control">
                            <button class="button is-success" @click="contextIndex++">
                                ⇨ Next
                            </button>
                        </p>
                        <p v-else-if="contextIndex === contexts.length - 1" class="control">
                            <button class="button is-success" @click="submit">
                                Submit
                            </button>
                        </p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<script>
    function loadValue(key) {
        skey = this.__uid__ + '::' + key;
        var value = localStorage.getItem(skey);
        if (value) {
            return JSON.parse(value);
        } else {
            return null;
        }
    }
    function saveValue(key, value) {
        skey = this.__uid__ + '::' + key;
        localStorage.setItem(skey, JSON.stringify(value));
    }
    this.__uid__ = loadValue('uid') || '{{ uid }}';
    this.__contexts__ = loadValue('contexts') || {{ contexts | tojson | safe }};
    this.__questions__ = loadValue('questions') || {{ questions | tojson | safe }};
    this.__validate_texts__ = {{ validate_texts | tojson | safe }};
    this.__workerId__ = loadValue('workerId') || '{{workerId}}'
    saveValue('uid', this.__uid__);
    saveValue('contexts', this.__contexts__);
    saveValue('questions', this.__questions__);
    Vue.use(VueMarkdown);
    var app = new Vue({
        el: '#task-view',
        delimiters: ['[[', ']]'],
        data: {
            uid: this.__uid__,
            contexts: this.__contexts__,
            questions: this.__questions__,
            workerId: this.__workerId__,
            // validateTexts: this.__validate_texts__,
            contextIndex: loadValue('contextIndex') || 0,
            response: loadValue('response') || {},
            // candidateIds: [],
            // validateIndexes: [],
            // validatorValues: {},
            validateIndex: -1,
            validatorValue: -1,
            isHiddens: {},
            start_time: Date.now(),
        },
        created() {
            // this.candidateIds = this.shuffle(Object.keys(this.contexts[this.contextIndex].candidates));
            // this.validateIndexes = [Math.floor(this.contexts.length / 2), this.contexts.length - 1];
            // this.validateIndexes.forEach(i => {
            //     const questionValues = {};
            //     this.questions.forEach(q => {
            //         questionValues[q.id] = { value: null, passed: false };
            //     });
            //     Vue.set(
            //         this.validatorValues,
            //         i,
            //         questionValues
            //     );
            // });
            this.validateIndex = Math.floor(Math.random() * 5);
            this.validatorValue = Math.floor(Math.random());
            // this.isHiddens = Array(this.contexts.length).fill(0);
            // this.isHiddens = Array(this.contexts.length).fill(0).slice();
            this.contexts.forEach(c => {
                // console.log(c);
                // console.log(c.id);
                // console.log(this.isHiddens);
                Vue.set(this.isHiddens, c.id, 0);
            })
            console.log(this.isHiddens);
            console.log(app.isHiddens);
        },
        mounted() {
            ['mouseup', 'touchend'].forEach(event => {
                document.addEventListener(event, event => {
                    console.log(event);
                    if (event.target === document.getElementById('mrc' || event.target.contains(document.getElementById('mrc'))))
                        this.selectAnswerspan();
                })
            });
            // document.addEventListener('mouseup', event => {
            // // if (event.target === this.$refs.target || event.target.contains(this.$refs.target))
            // if (event.target === document.getElementById('mrc' || event.target.contains(document.getElementById('mrc'))))
            // // if (event.contains(this.mrc))
            //     this.selectAnswerspan();
            // });
            // console.log(document.getElementById('mrc'))
            // document.getElementById("mrc").addEventListener("selectionchange", event => {
            //     console.log('selectionchange');
            //     console.log(event);
            //     // if (event.target === document.getElementById("mrc" || event.target.contains(document.getElementById("mrc")))){
            //         // console.log('event yes');
            //         // this.selectAnswerspan();
            //     // }
            //     this.selectAnswerspan();
            // })
        },
        methods: {
            updateTranslations(index) {
                console.log(app.isHiddens);
                // console.log(index);
                // console.log(app.isHiddens[index]);
                Vue.set(this.isHiddens, index, this.isHiddens[index] + 1);
                console.log(app.isHiddens);
                console.log(this.isHiddens);
            },
            shuffle(array) {
                let currentIndex = array.length, temporaryValue, randomIndex;
                while(0 !== currentIndex) {
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;
                    temporaryValue = array[currentIndex];
                    array[currentIndex] = array[randomIndex];
                    array[randomIndex] = temporaryValue;
                }
                return array;
            },            
            selectAnswerspan() {
                const context = this.contexts[this.contextIndex];
                if (!(context.id in this.response)) {
                    var contextResponse = {
                        'answerspan': null,
                        'answerstart': null
                    };
                    Vue.set(this.response, context.id, contextResponse);
                }
                var txt = document.getElementById('mrc').innerText;
                var selection = window.getSelection();
                var start = selection.anchorOffset;
                var end = selection.focusOffset;
                this.response[context.id].answerstart = Math.min(start, end);
                this.response[context.id].answerspan = window.getSelection().toString();
            },
            // isValue(candidateId, questionId, value) {
            //     const context = this.contexts[this.contextIndex];
            //     if (!this.response[context.id]) {
            //         return false;
            //     }
            //     return this.response[context.id][candidateId][questionId] === value;
            // },
            isValue(value) {
                const context = this.contexts[this.contextIndex];
                if (!this.response[context.id]) {
                    return false;
                }
                return this.response[context.id] === value;
            },
            // selectValue(candidateId, questionId, value) {
            //     const context = this.contexts[this.contextIndex];
            //     if (!(context.id in this.response)) {
            //         var candidateIds = Object.keys(context.candidates);
            //         var contextResponse = {};
            //         candidateIds.forEach(cid => {
            //             contextResponse[cid] = {};
            //             this.questions.forEach(question => {
            //                 contextResponse[cid][question.id] = null
            //             });
            //         });
            //         Vue.set(this.response, context.id, contextResponse);
            //     }
            //     this.response[context.id][candidateId][questionId] = value;
            // },
            selectValue(value) {
                const context = this.contexts[this.contextIndex];
                if (!(context.id in this.response)) {
                    var contextResponse = null;
                    Vue.set(this.response, context.id, contextResponse);
                }
                this.response[context.id] = value;
            },
            // isValidateValue(contextIndex, qid, v) {
            //     return this.validatorValues[contextIndex][qid].value === v;
            // },
            // selectValidateValue(contextIndex, qid, value, passed) {
            //     this.validatorValues[contextIndex][qid].value = value;
            //     this.validatorValues[contextIndex][qid].passed = passed;
            // },
            resetValues() {
                saveValue('uid', null);
                saveValue('contexts', null);
                saveValue('questions', null);
                saveValue('contextIndex', null);
                saveValue('response', null);
            },
            submit() {
                // Validate the response.
                // let isValid = true;
                // let isPassed = true;
                // console.log('vv', this.validatorValues);
                // Object.keys(this.validatorValues).forEach(r => {
                //     Object.keys(this.validatorValues[r]).forEach(qid => {
                //         if (this.validatorValues[r][qid].value === null) {
                //             isValid = false;
                //         }
                //         if (!this.validatorValues[r][qid].passed) {
                //             isPassed = false;
                //         }
                //     });
                // });
                // this.contexts.forEach(context => {
                //     if (!this.response[context.id]) {
                //         isValid = false;
                //     }
                //     try {
                //         Object.values(this.response[context.id]).forEach(cvalue => {
                //             Object.values(cvalue).forEach(qvalue => {
                //                 if (qvalue === null) {
                //                     isValid = false;
                //                 }
                //             })
                //         });
                //     } catch (err) {
                //         isValid = false;
                //     }
                // })
                // if (!isValid) {
                //     alert('You have to answer to all questions.');
                //     return;
                // }
                // //if (!isPassed) {
                //     // Failed to pass the validity check.
                // //    window.location.href = '/tasks/done?code=' + encodeURI('pass_no_132v82389a823l3133id112');
                // //    return;
                // //}
                // // Submit with AJAX call.
                isPassed = true;
                console.log(this.isHiddens);
                axios.post('/tasks/submit', {
                    context: this.contexts,
                    response: this.response,
                    isPassed: isPassed,
                    uid: this.uid,
                    workerId: this.workerId,
                    start_time: this.start_time,
                    end_time: Date.now(),
                    translation: this.isHiddens
                    // validatorValues: this.validatorValues
                }).then(response => {
                    const data = response.data;
                    const succeed = data.startsWith('done:');
                    if (succeed) {
                        const code = data.split(':')[1];
                        //window.location.href = '/tasks/done?code=' + encodeURI(code);
                        if (isPassed) {
                            window.location.href = '/tasks/done?code=' + encodeURI(code);
                        } else {
                            window.location.href = '/tasks/done?code=pass_' + encodeURI(code);
                        }
                        this.resetValues();
                    } else {
                        alert('Error from server on submit: ' + response);
                    }
                }).catch(function (error) {
                    alert('Error occurred on submit: ' + error);
                });
            },
        },
        watch: {
            contextIndex() {
                // this.candidateIds = this.shuffle(Object.keys(this.contexts[this.contextIndex].candidates));
                saveValue('contextIndex', this.contextIndex);
                this.$nextTick(() => {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                });
            },
            response() {
                saveValue('response', this.response);
            },
            isHiddens() {
                saveValue('isHiddens', this.isHiddens);
                this.$nextTick(() => {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                });
            }
        }
    })
</script>
{% endblock %}