{% extends "base.html" %}
{% block body %}
<div id="instruction-view">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                Language Learner Annotation - Annotation Pipeline
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="content v-large-padded">
            <div>
                <h4>Annotation Manual</h4>
                Please read the instruction file carefully. <br />
                We encourage you to download this instruction file for the following task.
                <iframe id="pdf" src="https://docs.google.com/document/d/e/2PACX-1vQoofTf217iF6UogXzJrJhVbOGA8QPz2vefgSmwy41bYGHr75IcAzEPDwTPpIvF0NTPbjbZ11JNAEY7/pub?embedded=true"></iframe>
                <!-- <div>
                    <div id="adobe-dc-view" id="pdf"></div>
                </div> -->
            </div>
            <hr />
            <div>
                <h4>Language / Task Selection</h4>
                <div>
                    <div v-for="(option, index) in language_task_set" :key="index">
                        <input type="checkbox" :id="option" :value="option" v-model="checkedSets">
                        <label :for="option" class="checkbox">[[ option[0] ]] / [[ option[1] ]]</label>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <h4>Honor Code</h4>
                <div>
                    If you agree to participate in this study, please enter your  
                    <input 
                        v-model="workerId"
                        v-autowidth="{maxWidth: '960px', minWidth: '20px', comfortZone: 0}"
                        placeholder="NAME"
                        name="workerId"
                    />
                    as honor code. <br />
                </div>
                <br />
                <button class="button is-success" @click="submit" :class="{'button':true, 'is-success':true, 'is-loading':buttonClicked}">
                    Continue
                </button>
            </div>
        </div>
    </div>    
</div>
<style>
    #pdf{
        width: 100%;
        height: 100vh;
    }
</style>
<script>
    // document.addEventListener("adobe_dc_view_sdk.ready", function(){
    //     var adobeDCView = new AdobeDC.View({clientId: "37799426f76141c5a801c3af644b96c0", divId: "adobe-dc-view"});
    //     adobeDCView.previewFile({
    //     content:{ location: 
    //         { url: "/static/annotation_instruction.pdf"}},
    //     metaData:{fileName: "annotation_instruction.pdf"}
    //     },
    //     {
    //     embedMode: "IN_LINE"
    //     });
    // });
    this.__language_task_set__ = {{ language_task_set | tojson | safe}};
    Vue.use(VueMarkdown);
    var app = new Vue({
        el: '#instruction-view',
        delimiters: ['[[', ']]'],
        data: {
            language_task_set: this.__language_task_set__,
            workerId: '',
            checkedSets: [],
        },
        methods: {
            submit() {
                if (this.workerId === '') {
                    alert('You have to write down your worker Id.')
                    return;
                }
                if (this.checkedSets.length === 0) {
                    alert('You should select at least one language/task set.')
                    return;
                }
                axios.post('/tasks/draw', {
                    language_task_set: this.checkedSets,
                    workerId: this.workerId
                }).then(function(response) {
                    document.write(response.data);
                }).catch(function (error) {
                    alert('Error occurred on draw: ' + error);
                    console.log(error);
                });
            },
        }
    })
</script>
{% endblock %}